# Compiled class file
*.class

# Log file
*.log
*.logs

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
.factorypath
*.jar
*.war
*.nar
*.ear
*.zip
*.gz
*.tar.gz
*.rar
.classpath
.project
.settings*
target
.idea
/.idea
*.iml
